.checkout-container {
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;

    .col-25 {
      -ms-flex: 25%;
      flex: 25%;
      padding: 0 16px;
    }

    .col-50 {
      -ms-flex: 50%;
      flex: 50%;
      padding: 0 16px;
    }

    .col-75 {
      -ms-flex: 75%;
      flex: 75%;
      padding: 0 16px;
    }

    .container {
      max-width: 90%;
      background-color: #f2f2f2;
      padding: 5px 20px 15px 20px;
      border: 1px solid lightgrey;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .sticky {
      position: sticky;
      top: 5rem;
    }

    input[type=text] {
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 15px;
    }

    label {
      margin-bottom: 10px;
      display: block;
    }

    .icon-container {
      margin-bottom: 20px;
      padding: 7px 0;
      font-size: 24px;
    }

    .btn {
      background-color: #4898f1;
      color: white;
      padding: 12px;
      margin: 10px 0;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 17px;

      &:hover {
        background-color: #4488d4;
      }
    }

    a {
      color: #2196F3;
    }

    hr {
      border: 1px solid lightgrey;
    }

    span.price {
      float: right;
      color: grey;
    }
  }

}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
  .container {
    margin: 2rem;
  }

  .mr4 {
    margin: 4rem !important;
  }

  .mt5 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  .ma5 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

}

