.footer-container {
  height: calc(100% - 60px);
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #ffffff;
  background-color: #004F9A;
  border-top: 1px solid #e5e5e5;
  bottom: 0;
  width: 100%;

  > * {
    flex: 1 100%;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    line-height: 2em;
  }

  a {
    text-decoration: none;
    text-decoration: none;
  }

  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }

  .footer__addr {
    display: flex;
    align-items: center;
  }


  .nav__ul {
    a {
      color: #FFFFFF;
    }
    font-size: 12px;
  }

  .nav__ul--extra {
    column-gap: 1.25em;
  }

  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }

  .legal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #FFFFFF;
  }
}


.footer__nav {
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
}


@media screen and (min-width: 40.375em) {
  .footer__nav {
    > * {
      flex: 1;
    }

    flex: 2 0;
  }
  .footer__addr {
    flex: 1 0;
  }
}
