
.homepage-add {
  //max-height: 5rem;

  .carousel .slider-wrapper {
    width: 80%;
  }

  .carousel .slider img {
    max-width: 70%;
  }

  .thumbs-wrapper.axis-vertical {
    display: none;
  }
}
