.resetPassword {

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  input[type=submit] {
    background-color: rgba(2, 113, 220, 0.77);
    color: white;
  }

  .container {
    padding: 3rem;
    padding-bottom: 0;

    form {
      max-width: 25rem;
    }
  }

  #message {
    color: #000;
    position: relative;
    padding: 20px;
    padding-top: 0;

    margin-top: 10px;

    p {
      padding: 0 35px;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 700px) {
  .resetPassword {
    transform: none !important;
  }
}

@media screen and (max-width: 400px) {
  .resetPassword {
    transform: none;
  }
}