.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #FFFF;
  box-shadow: 1px 1px 5px #c4c4c4;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    display: block;
    transition: 0.3s;
    cursor: pointer;

    a {
      text-decoration: none;
      color: #000;
    }

    &:hover {
      border-radius: 10px;
      background-color: rgba(2, 113, 220, 0.62);
    }
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    &:hover {
      background-color: transparent !important;
    }
  }

  .dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      padding-right: 1rem;
    }
  }

  .dropdown-container {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;

    a {
      padding: 0.5rem;

      &:hover {
        border-radius: 10px;
        background-color: rgba(2, 113, 220, 0.62);
      }
    }

    &:hover {
      background-color: transparent;
    }
  }
}